NewApp009/NewApp.UI/Service References/UserTypeFactorySvc/NewApp.BusinessTier.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserType" nillable="true" type="tns:UserType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserType" nillable="true" type="tns:ArrayOfUserType" />
  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="UserTypeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
</xs:schema>