NewApp009/NewApp.UI/Service References/GenderTypeFactorySvc/NewApp.BusinessTier.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGenderType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenderType" nillable="true" type="tns:GenderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenderType" nillable="true" type="tns:ArrayOfGenderType" />
  <xs:complexType name="GenderType">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenderTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="GenderTypeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenderType" nillable="true" type="tns:GenderType" />
</xs:schema>