NewApp009/NewApp.UI/Service References/TaxTypeFactorySvc/NewApp.BusinessTier.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaxType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxType" nillable="true" type="tns:TaxType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxType" nillable="true" type="tns:ArrayOfTaxType" />
  <xs:complexType name="TaxType">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaxTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="TaxTypeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxType" nillable="true" type="tns:TaxType" />
</xs:schema>