NewApp009/NewApp.UI/Service References/ManufacturerStatusFactorySvc/NewApp.BusinessTier.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfManufacturerStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManufacturerStatus" nillable="true" type="tns:ManufacturerStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManufacturerStatus" nillable="true" type="tns:ArrayOfManufacturerStatus" />
  <xs:complexType name="ManufacturerStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ManufacturerStatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturerStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="ManufacturerStatusValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManufacturerStatus" nillable="true" type="tns:ManufacturerStatus" />
</xs:schema>