NewApp009/NewApp.UI/Service References/CustomerStatusFactorySvc/NewApp.BusinessTier.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerStatus" nillable="true" type="tns:CustomerStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerStatus" nillable="true" type="tns:ArrayOfCustomerStatus" />
  <xs:complexType name="CustomerStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerStatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerStatusValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerStatus" nillable="true" type="tns:CustomerStatus" />
</xs:schema>