NewApp009/NewApp.UI/Service References/CustomerTypeFactorySvc/NewApp.BusinessTier.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerType" nillable="true" type="tns:CustomerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerType" nillable="true" type="tns:ArrayOfCustomerType" />
  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerTypeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerType" nillable="true" type="tns:CustomerType" />
</xs:schema>