NewApp009/NewApp.UI/Service References/SaleFactorySvc/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" />
  <xs:element name="GetNewSaleId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewSaleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewSaleIdResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="Sale_Id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="Sale" nillable="true" type="q1:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSaleResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDateOfSale" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDateOfSale" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSaleDetailsResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="SaleObjArray" nillable="true" type="q2:ArrayOfSale" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSaleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDateOfSale" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDateOfSale" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSaleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserSaleDetailsResult" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="SaleObjArray" nillable="true" type="q3:ArrayOfSale" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSaleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDateOfSale" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDateOfSale" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSaleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchSaleDetailsResult" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="SaleObjArray" nillable="true" type="q4:ArrayOfSale" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputeSaleAmounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="SaleObj" nillable="true" type="q5:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputeSaleAmountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComputeSaleAmountsResult" type="xs:boolean" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="NewSaleObj" nillable="true" type="q6:Sale" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>