NewApp009/NewApp.UI/Service References/SaleItemFactorySvc/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetSaleItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSaleItemsResult" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="SaleItemObjArray" nillable="true" type="q1:ArrayOfSaleItem" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputeSaleItemAmounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="SaleItemObj" nillable="true" type="q2:SaleItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComputeSaleItemAmountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComputeSaleItemAmountsResult" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="NewSaleItemObj" nillable="true" type="q3:SaleItem" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SerialNumb" type="xs:int" />
        <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BatchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Quantity" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Operation" type="q4:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQuantityResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>