NewApp009/NewApp.UI/Service References/TaxKindFactorySvc/NewApp.BusinessTier.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaxKind">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxKind" nillable="true" type="tns:TaxKind" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxKind" nillable="true" type="tns:ArrayOfTaxKind" />
  <xs:complexType name="TaxKind">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaxKindDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxKindId" type="xs:int" />
      <xs:element minOccurs="0" name="TaxKindValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxKind" nillable="true" type="tns:TaxKind" />
</xs:schema>