NewApp009/OldExcelInterOp/Service References/StoreItemFactorySvc/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" />
  <xs:element name="AddStoreItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="StoreItemObj" nillable="true" type="q1:StoreItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStoreItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStoreItemResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStoreItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStoreItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyStoreItemResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoreItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="StoreItemObj" nillable="true" type="q2:StoreItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoreItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStoreItemResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoreItemBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="StoreItemObj" nillable="true" type="q3:StoreItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoreItemBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStoreItemBatchResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreItemByCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BatchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDateOfManuf" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDateOfManuf" type="xs:dateTime" />
        <xs:element minOccurs="0" name="StartDateOfExp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDateOfExp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreItemByCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStoreItemByCriteriaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="StoreItemObjArray" nillable="true" type="q4:ArrayOfStoreItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreItemByItemIdOrName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemIdOrName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreItemByItemIdOrNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStoreItemByItemIdOrNameResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="StoreItemObjArray" nillable="true" type="q5:ArrayOfStoreItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>