NewApp009/NewApp.UI/Service References/DiscountTypeFactorySvc/NewApp.BusinessTier.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDiscountType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiscountType" nillable="true" type="tns:DiscountType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiscountType" nillable="true" type="tns:ArrayOfDiscountType" />
  <xs:complexType name="DiscountType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscountTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="DiscountTypeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiscountType" nillable="true" type="tns:DiscountType" />
</xs:schema>