NewApp009/NewApp.UI/Service References/VendorStatusFactorySvc/NewApp.BusinessTier.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVendorStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendorStatus" nillable="true" type="tns:VendorStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendorStatus" nillable="true" type="tns:ArrayOfVendorStatus" />
  <xs:complexType name="VendorStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="VendorStatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="VendorStatusValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorStatus" nillable="true" type="tns:VendorStatus" />
</xs:schema>