NewApp009/NewApp.UI/Service References/UserStatusFactorySvc/NewApp.BusinessTier.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserStatus" nillable="true" type="tns:UserStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserStatus" nillable="true" type="tns:ArrayOfUserStatus" />
  <xs:complexType name="UserStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserStatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="UserStatusValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserStatus" nillable="true" type="tns:UserStatus" />
</xs:schema>