NewApp009/NewApp.UI/Service References/VendorFactorySvc/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" />
  <xs:element name="GetVendors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Vendor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVendorsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="VendorObjArray" nillable="true" type="q1:ArrayOfVendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorsByCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDProofTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDProofValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDateofBirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDateofBirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FromDateofStartRelationship" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDateofStartRelationship" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FromDateofExpiryRelationship" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDateofExpiryRelationship" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorsByCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVendorsByCriteriaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="VendorObjArray" nillable="true" type="q2:ArrayOfVendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Vendor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVendorDetailsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="VendorObj" nillable="true" type="q3:Vendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVendorDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="VendorObj" nillable="true" type="q4:Vendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVendorDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVendorDetailsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyVendorDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyVendorDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVendorDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="VendorObj" nillable="true" type="q5:Vendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVendorDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVendorDetailsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVendorPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Vendorid" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" minOccurs="0" name="VendorObj" nillable="true" type="q6:Vendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVendorPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVendorPhotoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Vendorid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVendorPhotoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="imgBytes" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>