NewApp009/NewApp.UI/Service References/DiscountKindFactorySvc/NewApp.BusinessTier.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewApp.BusinessTier.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDiscountKind">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiscountKind" nillable="true" type="tns:DiscountKind" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiscountKind" nillable="true" type="tns:ArrayOfDiscountKind" />
  <xs:complexType name="DiscountKind">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscountKindDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountKindId" type="xs:int" />
      <xs:element minOccurs="0" name="DiscountKindValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiscountKind" nillable="true" type="tns:DiscountKind" />
</xs:schema>